body{
  margin: 0;
}
.p-active{
  color: #2c2c2c;
  font-weight: 900;
}
.p-rmv-active{
  color: #8f8f8f;
  font-weight: 500;
}
.category-img{
  border-radius: 20px;
  height: 14rem;
  transition: 0.4s;
}
.listing-item-img{
  border-radius: 20px;
  width: 160px;
  height: 165px;
  transition: 0.4s;
  margin:10px 0 4px 0;
  background-size: cover;
}

@media (max-width: 767.98px) {
  .category-img{
    height: 12rem;
  }
  .listing-item-img{
    height: 11rem;
  }
}
@media (max-width: 575.98px) {
  .category-img{
    height: 9rem;
  }
  .listing-item-img{
    height: 10rem;
  }
}
